<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Bootstrap CSS Area -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base_administrasi/css/bootstrap.css') }}" />

        <!-- Jquery Area -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" />

        <!-- Title-Icon -->
        <!-- <link rel="shortcut icon" href="{{url_for('static', filename='base_administrasi/images/icon-web.png')}}" type="image/x-icon" sizes="16x16"> -->

        <title>RSA | Data Pasien</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <h2 class="navbar-brand">
                    <img src="{{ url_for('static', filename='base_administrasi/images/house-door-fill.svg') }}" alt="" width="30" height="24" class="d-inline-block align-text-top" />
                    Dashboard Admin
                </h2>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">                                                
                        <a class="nav-link active" href="{{ url_for('admin') }}">Data Pasien</a>
                        <a class="nav-link active" href="{{ url_for('index') }}">Dashboard</a>
                    </div>
                </div>                               
            </div>
        </nav>
        <div class="box-header">
            <div class="container-xxl">
                <section class="content-header">
                    <h1>Pasien</h1>
                </section>
                <hr />
                
                
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Nomor Induk  Mahasiswa</th>
                            <th scope="col">Nama</th>
                            <th scope="col">No. Hp</th>
                            <th scope="col">Jurusan</th>
                            <th scope="col">Dokter</th>
                            <th scope="col">Spesialist</th>
                            <th scope="col">Tanggal Temu</th>
                            <th scope="col">Catatan</th> 
                            <th scope="col">Status</th> 
                            <th scope="col"><center>Action</center></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in result %}
                        <tr>
                            <td>{{row[0]}}</td>
                            <td>{{row[1]}}</td>
                            <td>{{row[2]}}</td>
                            <td>{{row[3]}}</td>
                            <td>{{row[4]}}</td>                
                            <td>{{row[5]}}</td>
                            <td>{{row[6]}}</td>
                            <td>{{row[7]}}</td>
                            <td>{{row[8]}}</td>
                            <td>                    
                                <center> 
                                    {% if row[8] == 'Proses' %}                                               
                                    <a href="/admin/datapasien/ {{row[0]}}" class="btn btn-success btn-xs">Selesai</a>
                                    {% else %}
                                    <a href="/admin/delete/ {{ row[0] }}" class="btn btn-danger btn-xs" onclick="return confirm('Yakin Ingin Menghapus data ini ?')">
                                        <img src=" {{ url_for('static', filename='base_administrasi/images/trash.svg') }} " alt="" />
                                    </a>
            
                                    {% endif %}
                                </center>                    
                            </td>                
                        </tr>            
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Optional JavaScript; choose one of the two! -->
        <script src="{{url_for('static', filename='base_administrasi/js/bootstrap.min.js')}}"></script>

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css"></script>
        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    --></body>
</html>
